$background:white;

$open-width:300px;
$panel-split:30px;
$lines-width:$open-width - $panel-split;
$toolbar-width:$panel-split;


$closed-width:50px;

body{
    background: url('/src/img/bg.jpg');
    background-size: cover;
    font-family: 'Amatic SC', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.c-panel { 
    background: $background;
    position: fixed;
    top:5px;
    right:5px;
    bottom:5px;
}

.c-panel--inner {
    display: flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
    display: flex;
    flex-wrap: nowrap;
}

.c-panel--toolbar {
    width:$toolbar-width;
    background:#eeeeee;
    border-right:1px solid #cccccc;
}

.c-panel--toolbar-icon{
    width:$toolbar-width;
    height:$toolbar-width;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444444;
    background: none;

    &:hover {
        background: #cccccc;
        color: #45689d;
        cursor: pointer;
    }
}


.c-panel--toolbar-icon:hover{
    
}

.c-panel--lines {
    width: $lines-width;


    &:_closed {
        
    }
}

.c-panel--lines-line{
    border-bottom: 1px solid #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;        
}

.c-panel--lines-line_input {
    width:150px;
    margin-left:auto;

    input{
        border: 0;
        padding: 5px;
        width: 100%;
        border-left: 1px solid #bbbbbb;
    }
}

.c-panel--lines-line_label {
    margin-left:20px;
}

.c-icon_svg {
    display: inline-block;
	color:inherit;
    width: 80%;
    height:80%;
    fill: currentColor;
}